.article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "image"
        "text";

    margin: 0 0 var(--space-xl);
}

.image {
    grid-area: image;
}

.textBox {
    grid-area: text;
}

.title {
    font-size: var(--font-size-l);
    text-transform: uppercase;
    margin-bottom: 0;
}

.date {
    font-size: var(--font-size-l);
    text-transform: uppercase;
    color: var(--primary-color);
    margin: 0;
}

.content {
    font-size: var(--font-size-m);
    margin-bottom: var(--space-m);
}

@media only screen and (min-width: 601px) {}

@media only screen and (min-width: 901px) {
    .article {
        gap: var(--space-l);
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "image text";
    }

    .articleReverse {
        grid-template-areas:
            "text image";
    }

    .textBox {
        align-self: center;
    }

    .textBoxReverse {
        margin-left: var(--space-l);
    }

    .title {
        margin: 0;
    }

    .content {
        font-size: var(--font-size-l);
    }
}

@media only screen and (min-width: 1201px) {}

@media only screen and (min-width: 1681px) {}