.infoText {
    margin: 0;
}

.submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    border-radius: 29px;

    /* Copy of button styles in Layout.astro */

    cursor: pointer;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    margin: var(--space-s) 0 0 0;
    border: none;
    color: inherit;
    background-color: transparent;
}

.submitButton:hover {
    opacity: 0.6;
}

.submitButton {
    height: 34px;
    border: 1px solid var(--black);
}

@media only screen and (min-width: 601px) {
    .submitButton {
        height: 58px;
    }
}
