.navigation {
    display: flex;
    justify-content: space-between;

    height: var(--top-bar-height);
    padding: 0 var(--space-m);
    margin-bottom: calc(2 * var(--space-m));
}

.navItemsBox {
    align-self: end;

    display: flex;
    gap: var(--space-m);
}

.socialIconsBox {
    align-self: end;

    display: flex;
    gap: var(--space-s);
}