---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.tsx'
---

<Layout>
    <main>
        <Title text="glen was here" />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
</style>
