.article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "image"
        "text";

    margin: 0 0 var(--space-m);
}

.isLink {
    cursor: pointer;
}

.image {
    grid-area: image;
}

.textBox {
    grid-area: text;
}

.title {
    font-family: BuzzBlack, system-ui, sans-serif;
    font-size: var(--font-size-l);
    text-transform: uppercase;
    margin-bottom: 0;
}

.content {
    font-size: var(--font-size-m);
    margin-bottom: var(--space-m);
}

@media only screen and (min-width: 901px) {
    .article {
        margin: 0 0 var(--space-xl);
    }

    .textBox {
        width: 70%;
    }
}