<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <meta
            name="description"
            content="Happa Restaurant in Berlin Kreuzberg. Regional, seasonal, vegan, plant-based, low-waste. Lunch and dinner events."
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>HAPPA</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    :root {
        /*add css variables*/
    }

    html {
        font-family: system-ui, sans-serif;
        background-color: #F6F6F6;
    }

    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
    }
</style>
